@media (max-width: 1023px) {    
    .menu-desktop {
    display: none;
    }
}

@media (min-width: 1024px) {
    :root {
        --swiper-navigation-size: 60px;
    }

    header {
        display: flex;
        align-items: center;
        padding: 4rem 6.2rem 10rem;
    }

    header nav.heading {
        background-color: transparent;
        /* padding: 6rem 0 0 8rem; */
    }

    header nav.heading > .btn-menu,
    header .divider {
        display: none;
    }

    header > .menu-mobile > .menu-itens-mobile,
    .element-hidden {
        display: flex;
        justify-content: flex-end;
        gap: 4.2rem;
        position: relative;
        width: 100%;
    }

    header .menu-mobile .menu-itens-mobile {
        background-color: transparent;
        padding: 0;
    }

/* *************** SECTION HERO *************** */
    section.hero {
        display: flex;
        margin-left: 6.2rem;
        height: 50rem;
    }

    section .hero-texts {
        max-width: 48rem;
    }

    section .users-box {
        margin: 0 2rem 7rem;
    }

    section .users-box > p {
        margin-left: 10rem;
        padding-top: 0;
        font-size: 1.6rem;
        line-height: 3.4rem;
    }

    section .hero-subtitle {
        display: inline-block;
        font-size: 2.4rem;
        line-height: 3.4rem;
        color: var(--fc-primary);
        max-width: 40.8rem;
        margin: 0 2rem 12rem;
    }

    section .card .btn-menu {
        background-color: var(--fc-primary);
        border-radius: 0.8rem;
        height: 5.2rem;
        min-width: 5.2rem;
        display: grid;
        place-content: center;
        position: absolute;
        top: 5rem;
        left: 5rem;
        z-index: 2;
    }

    .card .btn-menu span {
        min-width: 5.2rem;
    }

    .card .btn-menu span > img {
        height: 3.2rem;
        min-width: 5.2rem;
        position: initial;
    }

    /* *************** SECTION HERO - CARDS*************** */
    .cards {
        display: grid;
        grid-template-areas: 
        'A B'
        'C B'
        'D E';
        position: absolute;
        right: 0;
        /* top: 3rem; */
        z-index: 0;
    }

    .cards :nth-child(4).layout-card,
    .cards :nth-child(5).layout-card {
        display: block;
    }

    .cards :nth-child(1).layout-card {
        grid-area: B;
        height: 100%;
        min-width: 8rem;
        border-radius: 20px 0 0 20px;
    }

    .cards :nth-child(2) {
        grid-area: A;
    }

    .cards > :nth-child(3) {
        grid-area: C;
        height: 11.2rem;
    }

    .cards > :nth-child(4) {
        grid-area: D;
        border-radius: 2rem 2rem 0 0;
    }

    .cards > :nth-child(5) {
        grid-area: E;
        min-width: 8rem;
        border-radius: 2rem 0 0 0;
    }

    .cards .card {
        min-width: 39rem;
        height: 34rem;
        display: block;
    }

    .cards .card > img {
        height: 36rem;
        right: 12%;
        bottom: 0;
    }

    .card .pets {
        position: relative;
    }

    .cards .card > .link {
        bottom: -10rem;
        left: 7rem;
        right: 7rem;
        height: 5.2rem;
        font-weight: 800;
        font-size: 2rem;
        line-height: 3.4rem;
        text-align: center;
        border-radius: 2rem;
    }

    .cards .card .menu-desktop {
        position: absolute;
        z-index: 1;
    }
    
    .cards .card .menu-itens-desktop {
        width: 39rem;
        height: 34rem;
        padding: 15rem 5rem 5rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        background-color: var(--bg-primary-dark);
        border-radius: 2rem;
    }

    .cards .card .menu-itens-desktop > li a {
        font-size: 2rem; 
        line-height: 110%;        
        font-weight: 700;
        color: var(--fc-primary);
        opacity: 0.5;
    }
    
    .card .menu-itens-desktop li a:hover {
        opacity: 1;
    }

/* *************** SECTON INFO APP *************** */
    section#about {
        flex-direction: row;
        gap: 5.5rem;
        justify-content: space-between;
        padding-left: 2.5rem;
        transition: 0.7s;
    }

    section .image-app {
        width: 50rem;
        height: 65rem;
        border-radius: 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    section .background-box-image {
        width: 50rem;
        height: 65rem;
    }

    section > .image-app > :nth-child(3),
    section > .image-app > :nth-child(4) {
        display: block;
    }

    section .image-app > :nth-child(2) {
        top: 25%;
        z-index: 3;
        width: 110%;
    }

    section .image-app > :nth-child(3) {
        opacity: 0.6;
        z-index: 2;
        width: 95%;
    }

    section .image-app > :nth-child(4) {
        z-index: 1;
        opacity: 0.3;
        width: 80%;
        bottom: 20%;    
    }

    section .info-app {
        margin-right: 10rem;
    }

    section .info-app-title {
        max-width: 54.5rem;
    }

    section .info-app-title h1 {
        margin-bottom: 4rem;
        font-size: 4.8rem;
    }

    section .info-app-cards {
        grid-template-areas:
        'A B'
        'C C';
        gap: 3.2rem;
        max-width: 59rem;
    }

    section .info-app-cards > :nth-child(1) {
        grid-area: A;
    }

    section .info-app-cards > :nth-child(2) {
        grid-area: B;
    }

    section .info-app-cards > :nth-child(3) {
        grid-area: C;
        max-width: 100%;
    }

    section .info-app-card > p {
        max-width: 47rem;
    }

    /* *************** SECTON PETS *************** */
    section#pets {
        padding: 2rem 10rem 5rem;
    }

    section .container-pets {
        padding: 10rem 5.5rem 6rem;
        min-height: 62.8rem;
    }

    section .container-pets .texts-pets {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
    }

    section .container-pets .texts-pets h1 {
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 90%;
    }

    section .container-pets .texts-pets p {
        font-size: 2rem;
    }

    section .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section .container .link {
        width: 20rem;
    }

    section .container .swiper {
        overflow: hidden;
        margin: 0;
    }

    section .container .swiper .swiper-wrapper {
        width: 38.4rem;
        height: 26.1rem;
        padding: 0 10.5rem 2.5rem;
        margin: 0;
        gap: 0;
    }

    .swiper-slide > img,
    .swiper-slide > h1 {
        width: 34rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
        width: 7.2rem;
        height: 7.2rem;
        border: 1px solid hsla(0, 0%, 100%, 1);
        border-radius: 2rem;
        color: black;
        background-color: var(--fc-primary);
    }
    
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 2.4rem;
    }
    
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        color: var(--fc-primary);
        background-color: transparent;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0.5rem;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--fc-primary);
    }
}

@media (min-width: 1300px) {
/* *************** HEADER *************** */
    header {
        padding: 4rem 11.2rem 10rem;
    }

    header nav.heading{
        padding: 0;
        max-width: 58.2rem;
    }

    header nav.heading > a > img {
        height: 4.6rem;
    }

    header > .menu-mobile > .menu-itens-mobile {
        gap: 6.2rem;
    }

/* *************** SECTION HERO *************** */
    section.hero {
        margin-left: 9.2rem;
        height: 72rem;
    }

    section .hero-texts {
        min-width: 52rem;
    }

    section .hero-title {
        font-size: 7.2rem;
        line-height: 8rem;
        max-width: 52rem;
    }

    section .card .btn-menu {
        height: 7.2rem;
        width: 7.2rem;
    }

/* *************** SECTION HERO - CARDS*************** */
    .cards .card {
        min-width: 59rem;
        height: 38.6rem;
    }

    .cards .card .menu-itens-desktop {
        width: 59rem;
        height: 54rem;
        padding: 24rem 5rem 5rem 5rem;
        gap: 1.6rem;
    }

    .cards .card .menu-itens-desktop > li a {
        font-size: 3.6rem;
    }

    .cards .card > img {
        height: 41rem;
        right: 20%;
        bottom: 0;
    }
    
    .cards .card > a {
        bottom: -13rem;
        left: 5rem;
        right: 5rem;
        height: 7.2rem;
    }

    .cards > :nth-child(3) {
        grid-area: C;
        height: 15.2rem;
    }

/* *************** SECTON INFO APP *************** */

    section .image-app {
        width: 65rem;
        height: 78rem;
    }

    section .background-box-image {
        width: 65rem;
        height: 78rem;
    }
/* *************** SECTON PETS *************** */
    section .container-pets {
        padding: 10rem 10.5rem 6rem;
    }
    
    section .container .link {
        width: 23rem;
    }

    .swiper-slide > img,
    .swiper-slide > h1 {
        width: 38rem;
    }

}
