/* *************** HEADER *************** */
header nav.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-primary-dark);
    padding: 2rem;
}

header nav.heading > .btn-menu {
    background-color: var(--fc-primary);
    height: 4rem;
    width: 4rem;
    border-radius: 0.8rem;
    
    display: grid;
    place-content: center;
}

header .divider {
    border-top: 1px solid #FFFFFF;
    opacity: 0.2;
    margin: 0 2rem;
}

header .menu-mobile .menu-itens-mobile {
    background-color: var(--bg-primary-dark);
    padding: 2.8rem 2rem;
    border-radius: 0 0 20px 20px;
    width: 100vw;
    
    display: grid;
    gap: 1.2rem;
    position: absolute;
    z-index: 10;
}

.menu-itens-mobile > li a{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 110%;
    color: var(--fc-primary);
    opacity: 0.5;
}

.menu-itens-mobile li a:hover {
    opacity: 1;
}

/* *************** SECTION HERO *************** */

section {
    margin-bottom: 4.8rem;
}

.users-box {
    margin: 5.2rem 2rem 3.5rem;
}

.users-box .avatars {
    position: relative;
}

.avatars img {
    position: absolute;
}

.avatars :nth-child(2) {
    left: 2rem;
    z-index: 2;
}

.avatars :nth-child(3) {
    left: 4rem;
    z-index: 3;
}

.avatars :nth-child(4) {
    left: 6rem;
    z-index: 4;
}

.users-box > p{
    padding-top: 3.4rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--fc-primary);
    line-height: 1.7rem;
}

.users-box p > span {
    font-weight: 800;
}

section .hero-title {
    color: var(--fc-primary);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 4.8rem;
    /* max-width: 26.8rem; */
    letter-spacing: -0.02em;
    margin: 0 2rem 5.5rem;
}

section .hero-subtitle {
    display: none;
}

/* *************** SECTION CARDS - CARD *************** */
.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    overflow-x: clip;
}

.cards :nth-child(4).layout-card,
.cards :nth-child(5).layout-card {
    display: none;
}

.layout-card {
    min-width: 28rem;
    height: 25.5rem;
    border-radius: 20px;
    background-color: var(--bg-primary-dark);
}

.card {
    position: relative;
    display: grid;
    justify-content: center;

    min-width: 28rem;
    height: 25.5rem;
    border-radius: 20px;
    background: linear-gradient(153.09deg, #F36A6F 17.23%, #E44449 73.77%);
}

.card img{
    position: absolute;
    bottom: 0;
}

.card > a {
    color: var(--fc-secondary);
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.5rem;

    background-color: var(--fc-primary);
    border-radius: 2rem;
    height: 5.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
}

/* *************** SECTION INFO APP *************** */
section#about {
    background-color: var(--fc-primary);
    padding: 7rem 0;
    position: relative;

    display: flex;
    gap: 3.6rem;
    flex-direction: column-reverse;
    align-items: center;
}

section .image-app {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


section .background-box-image {
    background: linear-gradient(180deg, #FDECED 0%, rgba(253, 236, 237, 0) 100%);
    opacity: 0.5;
    height: 28rem;
    width: 100%;
    position: absolute;
}

section .image-app img {
    position: relative;
}

section > .image-app > :nth-child(3),
section > .image-app > :nth-child(4) {
    display: none;
}

section .info-app {
    margin: 0 2rem;
}

section .info-app-title h1 {
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: var(--fc-secondary);
    margin-bottom: 2rem;
}

section .info-app-cards {
    display: grid;
    gap: 1rem;
    justify-content: center;
}

section .info-app-card {
    background: hsla(356, 81%, 96%, 1);
    border: 1px solid rgba(241, 81, 86, 0.3);
    border-radius: 2rem;
    padding: 3rem;

    display: grid;
    gap: 3rem;
    max-width: 32rem;
    min-height: 19rem;
}

section .info-app-card > span {
    font-size: 3rem;
    margin-top: 1rem;
}

section .info-app-card > p {
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 400;
    max-width: 22.3rem;
}

section .info-app-card > p > span {
    font-weight: 700;
}